<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="foo" class="com.spring.Foo" scope="prototype">
		<constructor-arg index="0" value="SpringFoo" />
	</bean>
	
	<bean id="bar" class="com.spring.Bar">
		<constructor-arg type="int" value="26" />
		<constructor-arg type="java.lang.String" value="SpringBar" />
		<property name="foo" ref="foo" />
	
	</bean>
	
</beans>